.header {
  display: inline-block;
  background-color: white;
  padding: 15px 15px 15px 20px;
  align-content: center;
}
.logo {
  width: 30%;
  display: ;
  float: left;
}
.nav {
  width: 33%;
  float: right;
  font-size: 20px;
  align-content: bottom;
}
.navmenu,
a {
  padding-top: 15%;
  padding-left: 20px;
  color: #02725a;
}
body {
  background-image: url("https://dm2304files.storage.live.com/y4mD7H3E9gLK3hkJfi6NlzIBqfmc9lBllz-pNrq_97vOwCGZHlqbWe3Bc7h20nkLWs9vdBdckh9q7lOL4THxOIBiPjg75jadrYN9lFJdu8cVlDZyMaCioBppa5IYL3LARj-DAuApprtonui2EKx8m2UifIOWHQp6DZJhngHpCKiyKPbt9fpE9CnFoy-Pu_iyGzeB4IdvJwxZm704SlXx34zsdogEw7h_XhuThnOer6DFQ4?encodeFailures=1&width=1259&height=710");
  background-size: cover;
  background-repeat: no-repeat;
}
.mainpg{
    padding: 5% 20%;
  }
  .myimage {
    width: 29%;
    background-color: #ffffff;
    border: 5px solid white;
    align-content: center;
  }
  .mytext {
    background-color: #028090;
    color: #ffffff;
    margin: -15% 5% 1% 20%;
    padding: 5% 5% 5% 15%;
    display: center;
    width: 60%;
    font-size: 25px;
}
footer {
  background-color: #af036f;
  color: white;
}
.contactinfo {
  float: left;
  align-content: center;
  width: 25%;
  padding: 2%;
}
.project select {
  float: right;
  width: 75%;
}
.indiprojectbx {
  width: 20%;
  display: inline-block;
  background: white;
  margin: 1%;
}
